---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
            {% if post.external_url %}
                <a class="post-link" onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" href="{{ post.external_url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% else %}
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
