---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!--<a href="https://github.com/CatTail/cattail.github.io/issues/new?title={{ page.title }}" style="display:block; text-align:center;">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" fill="#888" width="60" height="60">
          <polygon fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" points="29,24 13,24 8,28 8,24 3,24 3,6 29,6 "/>
          <line fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" x1="8" y1="13" x2="24" y2="13"/>
          <line fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" x1="8" y1="17" x2="20" y2="17"/>
      </svg>
  </a> -->

</div>
