<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/slide.css" type="text/css" />
  </head>
  <body>
    <script src="{{ site.baseurl }}/bower_components/remark/out/remark.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hljs = remark.highlighter.engine;
        /*
        Language: remark markdown flavor
        Author: Ole Petter Bang <olepbang@gmail.com>
        */

        hljs.registerLanguage('remark', function() {
            return {
                contains: [{
                    className: 'keyword',
                    begin: '^#+[^\n]+',
                    relevance: 10
                }, {
                    className: 'comment',
                    begin: '^---?'
                }, {
                    className: 'string',
                    begin: '^\\w+:'
                }, {
                    className: 'literal',
                    begin: '\\{\\{',
                    end: '\\}\\}'
                }, {
                    className: 'string',
                    begin: '\\.\\w+'
                }]
            };
        });
        var slideshow = remark.create({
            highlightStyle: 'monokai',
            highlightLanguage: 'remark',
            sourceUrl: '{{site.baseurl}}/slides/{{ page.slide }}.md'
        }) ;
    </script>
    <script src="{{ site.baseurl }}/bower_components/presenter/dist/presenter.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
      @import url(//fonts.googleapis.com/css?family=Droid+Serif);
      @import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
    </style>
  </body>
</html>
